/.idea
/.vscode
/.env
/.env.*
!.env.example

/.composer
/composer.phar
/composer-setup.php
/certs
/laravel-*.zip
/_laravel_*

/vendor
/node_modules
/public/build
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

__pycache__/
*.py[cod]
.venv/
venv/

*.log
*.bundle
*.sqlite
*.sqlite3
*.tmp
*.bak
